#header
	%p
		= link_to "cBright UK", about_path
	%h1#title
		= @post.title
	%p.date
		= @post.created_at.strftime("%A, %B %d, %Y")
#content.entry
	#body
		= @post.content
	#appendix
		%p.tags
			= link_to "View all posts", posts_path
			or more posts on
			= tag_link_list(@post)
- if is_admin?
	.admin
		Administrator : 
		= link_to "new post", new_post_path
		,
		= link_to "edit post", edit_post_path(@post)
		,
		= link_to "delete post", post_path(@post), :method=>:delete